// Landing Page

// Main Header
.main-header {
  background-color: $color-grey-light;
  padding: 7.5rem 3.5rem;

  &__reservation {
    height: 15rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__paragraph {
    color: $color-grey-dark;
    margin-bottom: 3rem;
  }
}

.restoration {
  background-color: $color-grey-light;
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 2rem 0;
  }

  &__card {
    height: 240px;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}
