@use '../abstracts/variables';

.restaurant {
  background-color: variables.$color-grey-light;
  margin-top: -5rem;
  z-index: 10;
  position: relative;
  padding: 4rem 2.25rem;
  border-radius: 4.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__container {
    width: 100%;

    h4::after {
      content: '';
      margin-top: 0.5rem;
      display: block;
      width: 40px;
      height: 3px;
      background-color: variables.$color-tertiary;
    }
  }

  &__box {
    // Mixin ?
    box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.1);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.1);

    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    cursor: pointer;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    &--info {
      background-color: variables.$color-white;
      // display: flex;
      // justify-content: space-between;
      // flex-wrap: wrap;
      width: 100%;
      padding: 1.5rem;

      h3 {
        flex-basis: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      p {
        font-size: 1.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
      }
    }

    &--check {
      visibility: hidden;
      width: 0;
      background-color: variables.$color-tertiary;
      color: variables.$color-white;
      transition: all 0.5s;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
    }

    &:hover {
      box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);
      -webkit-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);
      -moz-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);

      div:first-child {
        width: 100%;
      }

      div:last-child {
        visibility: visible;
        display: flex;
        width: 15%;

        i {
          animation: 0.5s rotate ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 700;
    color: variables.$color-grey-dark;
    display: inline-block;
    margin-left: auto;
  }
}
