.footer {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem;

  background-color: #444;
  color: $color-white;
  font-size: 1.6rem;

  &__logo {
    font-family: $title-font;
    font-size: 2rem;
  }

  &__list {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0.5rem 0;
  }

  &__link {
    color: inherit;

    i {
      width: 0.5rem;
      margin-right: 2.5rem;
    }
  }
}
