.footer {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem;

  background-color: #444;
  font-size: 1.6rem;

  &__logo {
    margin-bottom: 5rem;
    font-family: $title-font;
    color: $color-white;
  }

  &__link {
    color: $color-white;
  }
}
