@use '../abstracts/variables';

.footer {
  max-width: 930px;
  margin: 0 auto;
  padding: 2.5rem;

  background-color: #444;
  color: variables.$color-white;
  font-size: 1.6rem;

  &__logo {
    font-family: variables.$title-font;
    font-size: 2rem;
  }

  &__list {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0.5rem 0;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: inherit;
      transition: all 0.2s;
      background-color: #444;
    }

    i {
      width: 0.5rem;
      margin-right: 2.5rem;
    }

    &:hover,
    &:active {
      color: variables.$color-tertiary;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.4);
      transform: rotate(5deg) scale(1.2);
    }
  }
}
