@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
  max-width: 930px;
  margin: 0 auto;
  height: 7rem;
  padding: 2rem;
  display: grid;
  place-items: center;
  position: relative;

  &__back {
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    color: variables.$color-grey-dark;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: variables.$color-grey-medium;
      border-radius: 50%;
    }
  }

  &__logo {
    display: block;
    margin: auto;
  }
}
