@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
  height: 7rem;
  text-align: center;

  // box-shadow: 0px 2px 5px 0px rgba($color-black, 0.35);
  // -webkit-box-shadow: 0px 2px 5px 0px rgba($color-black, 0.35);
  // -moz-box-shadow: 0px 2px 5px 0px rgba($color-black, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;

  &__back {
    font-size: 2.25rem;
    color: variables.$color-grey-dark;
  }

  &__logo {
    font-size: 3.25rem;
    font-family: variables.$title-font;
  }

  @include mixins.respond(desktop) {
    border-bottom: 1px solid #bbbb;
  }
}
