// Button
// Animation du Bouton
// 1/ Hover: translateY en négatif pour surélever le bouton
// 2/ Active: moindre translate Y en négatif pour rabaisser le bouton quand il est cliqué
// 3/ Transition sur le :link

@use '../abstracts/variables';
@use '../base/animations';

.btn {
  &:link,
  &:visited {
    background: linear-gradient(
      to right bottom,
      variables.$color-secondary,
      variables.$color-primary
    );
    color: variables.$color-white;

    border: none;
    border-radius: 10rem;

    font-family: variables.$text-font;
    font-size: 1.7rem;
    text-decoration: none;

    padding: 1.5rem 2.5rem;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &:hover {
    background: linear-gradient(
      to right bottom,
      rgba(variables.$color-secondary, 0.85),
      rgba(variables.$color-primary, 0.85)
    );
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(variables.$color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(variables.$color-black, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      to right bottom,
      variables.$color-secondary,
      variables.$color-primary
    );
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--restaurant {
    padding: 1.5rem 4.5rem !important;
    margin: 2rem 0;
  }
}
