@use '../abstracts/variables';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;

  box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);
  -moz-box-shadow: 3px 4px 5px 0px rgba(variables.$color-black, 0.25);

  &__img {
    height: 72.5%;
    width: 100%;
    object-position: 50% 60%;
    object-fit: cover;
  }

  &__new {
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: variables.$color-tertiary;
  }

  &__info {
    height: 27.5%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
  }

  &__text {
    flex-basis: 90%;
  }

  &__like {
    font-size: 2.75rem;
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 2px black;
    transition: ease 0.2s;
  }

  &__like:hover {
    color: variables.$color-primary;
    -webkit-text-stroke: 2px transparent;
  }
}
