@use '../abstracts/variables';

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0.75turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

@keyframes spin {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    position: fixed;
  }

  99% {
    visibility: visible;
    transform: rotate(360deg);
    position: fixed;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes blur {
  0% {
    visibility: visible;
    filter: blur(0);
    background-color: rgba(variables.$color-black, 0.75);
    position: fixed;
  }

  75% {
    visibility: visible;
    filter: blur(0);
    background-color: rgba(variables.$color-black, 0.75);
    position: fixed;
  }

  99% {
    visibility: visible;
    background-color: rgba(variables.$color-black, 0.1);
    position: fixed;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes heart {
  0% {
    color: rgba(variables.$color-primary, 0);
  }

  1% {
    color: rgba(variables.$color-primary, 0.1);
  }

  99% {
    color: rbga(variables.$color-primary, 0.9);
  }

  100% {
    color: rgba(variables.$color-primary, 1);
  }
}
