// Global
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.75rem;
}

.heading-2 {
  font-size: 2.25rem;
}

.heading-3 {
  font-size: 1.75rem;
}

.paragraph {
  font-size: 1.65rem;
  font-weight: 300;
}
