// Global
@use '../abstracts/variables';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.75rem;

  &--restaurant {
    font-family: 'Shrikhand', serif;
    letter-spacing: 1px;
  }
}

.heading-2 {
  font-size: 2.25rem;

  &--restaurant {
    font-size: 1.65rem;
    font-weight: 400;
    color: variables.$color-grey-dark;
    text-transform: uppercase;
    margin: 2rem 0;
  }
}

.heading-3 {
  font-size: 1.75rem;
}

.paragraph {
  font-size: 1.65rem;
  font-weight: 300;
}
